---
// Astro Navbar component
---
<nav class="navbar bg-base-100 shadow">
  <div class="container mx-auto flex justify-between items-center">
    <a class="btn btn-ghost normal-case text-xl" href="/">MyPortfolio</a>
    <ul class="menu menu-horizontal px-1">
      <li><a href="/#home">Home</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#skills">Skills</a></li>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </div>
</nav>
