---
// Footer section component
---
<footer class="bg-gray-900 py-8 mt-8">
  <div class="container mx-auto grid gap-4 text-center">
    <h1 class="text-2xl font-bold text-white">Sovandara<span class="text-cyan-400"> Leng</span></h1>
    <div class="flex justify-center gap-6 mt-2">
      <a href="https://www.facebook.com/lengsovandara11" target="_blank" class="text-2xl text-gray-300 hover:text-cyan-400"><i class="ri-facebook-fill"></i></a>
      <a href="https://www.instagram.com/leng_sovandara/" target="_blank" class="text-2xl text-gray-300 hover:text-cyan-400"><i class="ri-instagram-fill"></i></a>
      <a href="https://www.linkedin.com/in/leng-sovandara-41766b294" target="_blank" class="text-2xl text-gray-300 hover:text-cyan-400"><i class="ri-linkedin-box-fill"></i></a>
    </div>
    <span class="text-gray-400 text-sm">&#169; Copyright Leng Sovandara. All rights reserved</span>
  </div>
</footer>
